.navbar {
  background: orange;
  display: flex;
  justify-content: space-between;
  align-items: center
}

.navbar-menu {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navbar-item a {
  background: pink;
  display: block;
  padding: 15px 10px;
}

.art-gallary {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
  grid-gap: 1em;
  
  align-content: center;
  justify-content: center;
  
  /* grid-auto-flow: row; */
}

/* .art {
  grid-column: span 2;
  
  @media (min-width: 52em) {
    grid-column: auto;
    grid-row: span 2;
    align-self: center;
  }
} */

.art {
  width: 100%;
}


.home {
  display: grid;
}





.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
